<div id="mg-issue-loading" >
	<label class="mg-issue-loading">Loading ... </label>
</div>

<div id="mg-issue-content" class="mg-issue-content">
<div class="mg-issue-title-sec">
	<label id= "mg-issue-title">
	</label>
	<span class="mg-issue-title-right">
		<i class="mg-icon-close" id="mg-issue-close"></i>
	</span>
</div>

<div class="mg-issue-sec-space">
	<label class="mg-issue-state mg-f-normal" id="mg-issue-state"></label>
	<label class="mg-f-color mg-f-normal" id="mg-issue-state-desc">
	</label>
</div>

<div class="mg-issue-divider"></div>

<div id="mg-issue-misc-sec hide">
	<div id="mg-issue-milestone" class="mg-issue-misc-line">
		<div>
			<span class="mg-issue-misc-line-head" title="Milestone">
				<i class="mg-icon-map-signs"></i>
			</span>
		</div>
		<div>
			<label class="mg-f-color"></label>
		</div>
		<div class="mg-issue-progress">
			<span class="progress-bar mg-issue-progress-bar">
			<span class="progress" id="mg-issue-progress-pct">&nbsp;</span>
			</span>
		</div>
	</div>

	<div id="mg-issue-assignees" class="mg-issue-misc-line" alt="Assignees">
		<span class="mg-issue-misc-line-head" title="Assignees">
			<i class="mg-icon-user"></i>
		</span>
	</div>

	<div id="mg-issue-labels" class="mg-issue-misc-line" alt="Labels">
		<div>
			<span class="mg-issue-misc-line-head" title="Labels">
				<i class="mg-icon-tag"></i>
			</span>
		</div>
		<div id="mg-issue-all-labels">
		</div>
	</div>
</div>

<div class="mg-issue-divider hide" id="mg-issue-misc-divider"></div>
<div class="mg-issue-body-sec">
	<div class="mg-issue-body-title">
		<span>Issue Description</span>
		<span id="mg-issue-comments-number" style="float:right;"></span>
	</div>
	<div class="mg-issue-body" id="mg-issue-body">
	</div>
</div>
</div>
