<div class="mg-issue-title-sec">
  <label class="mg-issue-number" id="mg-issue-number">#16</label>
  <label id= "mg-issue-title">
    Preview issue when mouse is over a issue link
  </label>
  <span class="mg-issue-title-right">
    <i class="mg-icon-close"></i>
  </span>
</div>

<div class="mg-issue-sec-space">
  <label class="mg-issue-state mg-f-normal" id="mg-issue-state">Open</label>
  <label class="mg-f-color" id="mg-issue-state-desc">
    eschao opened this issue 12 days ago - 3 comments
  </label>
</div>

<div class="mg-issue-divider"></div>

<div id="mg-issue-misc-sec" class="mg-issue-sec-space" alt="Milestone">
  <div id="mg-issue-milestone" class="mg-issue-misc-line">
    <span class="mg-issue-misc-line-head"><i class="mg-icon-map-signs"></i></span>
    <label class="mg-f-color">2017-05</label>
  </div>

  <div id="mg-issue-assignees" class="mg-issue-misc-line" alt="Assignees">
    <span class="mg-issue-misc-line-head"><i class="mg-icon-user"></i></span>
    <img alt="@eschao" class="avatar" height="20" src="https://avatars3.githubusercontent.com/u/20178358?v=3&amp;s=52" width="20">
    <img alt="@codecov-io" class="avatar" height="20" src="https://avatars2.githubusercontent.com/u/8655789?v=3&amp;s=60" width="20">
    <img alt="@zzbot" class="avatar" height="20" src="https://avatars1.githubusercontent.com/u/28640366?v=3&amp;s=60" width="20">
  </div>

  <div id="mg-issue-labels" class="mg-issue-misc-line" alt="Labels">
    <span class="mg-issue-misc-line-head"><i class="mg-icon-tag"></i></span>
    <label class="mg-issue-label mg-f-normal" style="background:#1d76db">Chrome</label>
    <label class="mg-issue-label mg-f-normal" style="background:#d0576b">Firefox</label>
    <label class="mg-issue-label mg-f-normal" style="background:#884898">Plan</label>
  </div>
</div>

<div class="mg-issue-divider" id="mg-issue-misc-divider"></div>
<div class="mg-issue-body-sec">
  <div class="mg-issue-body-title">Issue Description</div>
  <div class="mg-issue-body">
  We often connect a issue with another one in its description or comments, but the **only** issue number will be showed after linked and it is not quite sense to us, you must click it to open the linked issue in the current browser tab or new tab to see what it really is. Under the circumstances, a preview for linked issue when mouse is over it is very useful.
  </div>
</div>
