<section class="mg-section mg-section-header mg-flex-spc-b">
  <div>
    <i class="mg-icon-bookmark mg-r-3em"></i><label>Save Filter</label>
  </div>
  <a href="#" class="mg-a" id="mg-close" title="Close">
    <i class="mg-icon-close mg-m-icon"></i>
  </a>
</section>

<section class="mg-section-content">
  <div class="Box Box-body" style="padding: 10px">
    <p id="mg-filter"></p>
  </div>
  <div class="mg-filter-name-label mg-flex mg-flex-spc-b">
    <dl class="mg-clear-margin">
      <label>Filter Name</label>
    </dl>
    <dl class="mg-clear-margin" id="mg-overwrite-dl">
      <input type="checkbox" class="mg-checkbox" id="mg-overwrite" checked/>
      <label>Overwrite</label>
    </dl>
  </div>
  <div>
    <input class="form-control input-contrast mg-filter-name"
      id="mg-filter-name" type="text" value="new filter" />
  </div>
</section>

<section class="mg-section mg-section-bottom">
  <a href="#" id="mg-save-filter-btn" class="btn btn-primary">
  <span>Save</span></a>
</section>

