<a class="header-nav-link tooltipped tooltipped-s js-menu-target" href="#"
  aria-label="Favorite Repositories" aria-expandded="false">
  <i class="mg-icon-star"></i>
  <span class="dropdown-caret"></span>
</a>
<div class="dropdown-menu-content js-menu-content">
  <ul class="dropdown-menu dropdown-menu-sw" style="width:auto"
    id="mg-fr-dropdown-menu">
    <div class="dropdown-item mg-dropdown-item">
      <a class="mg-dropdown-item-text" href="#">
        eschao/MyGit-Extension
      </a>
      <span class="mg-dropdown-item-del"><i class="mg-icon-close"></i></span>
    </div>
    <div class="dropdown-item mg-dropdown-item">
      <a class="mg-dropdown-item-text" href="#">
        eschao/MyGit
      </a>
      <span class="mg-dropdown-item-del"><i class="mg-icon-close"></i></span>
    </div>
    <div class="dropdown-divider" id="mg-fr-divider"></div>
    <a class="dropdown-item" href="#" data-ga-click="Add this repository to
      favorite" id="mg-fr-add">
      Add this repository
    </a>
  </ul>
</div>
